

.navbar-nav {
  padding-top:2px !important;
  padding-bottom:2px !important;}

.navbar {
  min-width: height 10px!important;
}

 .navbar .dropdown-menu {
  border:none;
  background-color:#2A9FD6!important;
}

   
   /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar-nav {
    padding: top 5px!important;
    
   
  }

  
  
  .navbar .dropdown-menu {
    width:80%;
    left:5px;
    right:5px;
  /*  height of nav-item  */
    top:40px;
  }
    
    /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display:block!important;
  }
.navbar .dropdown-menu {
      border: 1px solid rgba(0,0,0,.15);
      background-color: #fff;
    }
  
.card text-white bg-primary {
      background-color:#2A9FD6!important;
      max-height: 35rem; 
      flex-shrink: 30rem; 
    }
.row {
margin-top: top 10px;
padding-bottom: 10px; 
}      
.container {
  display: flex;
  flex-wrap:wrap;
}
.card-text {
margin-right: 5px;
padding-right: 10px;
padding-top: 10px;
float:top;
}
.col- {
padding: 20px;

}
text-right {
padding-left: 10px;
}